.pageContainer{
    display: flex;
      flex-direction: column;
      min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da viewport */
}
    
.pageMain{
    flex-grow: 1; /* Faz o conteúdo principal expandir */
      display: flex;
      flex-direction: column; /* Alinha o conteúdo verticalmente */
      background-color: #DDE4FF;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      
}

.divInputConfig{
  display: flex;
  align-items: center;
  height: 100px;
  width: 400px;
  justify-content: center;
  background-color: #4B1DF2;
  gap: 1rem;
  border-radius: .75rem;
}

.divExcluir{
  width: 83%;
  height: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: .50rem;
}

.divButtonSair{
  width: 400px;
  
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  position: absolute;
  bottom: 11rem;
  
}

.divButtonSair button{
  border: none;
  width: 50%;
  height: 20%;
  background-color: red;
  color: #fff;
  border-radius: .50rem;
  font-size: 25px;
  box-shadow: 0 4px 0px #0000004f ;
  
}