.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    /* Garante que o contêiner ocupe toda a altura da viewport */
}

.pageMain {
    flex-grow: 1;
    /* Faz o conteúdo principal expandir */
    display: flex;
    flex-direction: column;
    /* Alinha o conteúdo verticalmente */
    background-color: #DDE4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}


.arrowMain1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120%;
    height: 3vh;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
}

.title2 {
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}

.tableImg {
    width: 100%;
    height: 100%;
}

.divPurple {
    background: linear-gradient(to bottom, #593ACA, #411EBE);
    color: #fff;
    width: 92%;
    max-width: 500px;
    height: 60vh;
    /* Mantendo a altura de 70% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 3rem;
    gap: 1rem;
}

.imgTable {
    border: 10px solid #000;
    border-radius: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex-direction: column;
}

.printButton {
    background-color: #fff;
    color: #6F52C8;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;


}