.homeMain {
  width: 100vw;
  height: auto;
  background-color: #DDE4FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.homePurple {
  width: 90%;
  height: 70vh; /* Mantém a altura da homePurple */
  background-color: #6249BF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  gap: .75rem;
  overflow-y: auto; /* Permite rolagem se necessário */
  scrollbar-width: none;
  overflow-x: hidden;
}

.nameChildren {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.taskChildren {
  width: 90%;
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: .50rem;
}

.progressBarContainer {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 20px;
  height: 25px;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0 0 4px #6349bf5d;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 20px;
  transition: width 0.4s ease;
}
