/* Estilização da parte principal  no caso a parte que tem somente a cor de fundo meio roxo bem claro*/
.homeMain {
    width: 100vw;
    height: auto; /* Ajusta a altura automaticamente */
    background-color: #DDE4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1; /* Faz o main expandir */
}
  
.homePurple{
    width: 90%;
    height: 70vh;
    background-color: #6249BF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.homeChildren{
  background-color: #FFFFFF;
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
.nameChildren{
  
}