.footerLog {
    width: 100vw;
    background-color: #6249BF;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.footerLog a{
    text-decoration: none;
    color: #fff;
}
  
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}


@media (max-hteigh: 769px) {
    
    .footerLog{
        height: 50px;
        font-size: 10px;
    }
    

}