/* Estilização do footer */
.divFooterMain {
    width: 100vw;
    height: 10vh;
    background-color: #6249BF;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Estilizando os ícones no footer */
  .divFooterMain {
    font-size: 5vh;
    color: #fff;
  }

  .activeIcon {
    color: purple;
  }
  
  .inactiveIcon {
    color: lightGray;
  }
  
  