
/* Esse formMain é a classe com a primeira div, contendo todo conteudo nela. Ou seja, os inputs e tudo */
.formMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Altura total da viewport */
    overflow: hidden;
  }
  
  /* O elemento form contendo os inputs */
  form {
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE4FF;
    gap: 2rem;
   
  }
  


.divEmail{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    justify-content: center;
    background-color: #4B1DF2;
    border-radius: 2rem;
    box-shadow: 0 0 10px #000;
}

.divPassword{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    justify-content: center;
    background-color: #4B1DF2;
    border-radius: 2rem;
    gap: 1rem;
    position: relative;
    box-shadow: 0 0 10px #000;
}


/* esse classe é a classe de todos os inputs, feita para ficar apenas nesse escopo desta pagina, pois se não ocorre uma evasão do css desta pagina para outras. */
.inputFormLogin{
    height: 40%;
    width: 90%;
    border-radius: 10rem;
    border: none;
    font-size: 25px;
    text-align: center;
}


/* Mesma coisa aqui */
.labelFormLogin{
    font-size: 30px;

}

.buttonForm{
    border: none;
    z-index:1;
    font-size: 25px;
    width: 220px;
    height: 60px;
    background-color: #6249BF;
    color: #fff;
    border-radius: 10rem;
    position: absolute; /* Posicionamento absoluto */
    top: 10rem; /* Ajuste para mover o botão acima da div */
}




/* A partir daqui a estilização foi feita para deixar responsiva para mobile */
@media (max-width: 1200px) {
    

    .formMain{
        width: 100vw;
    }
    .divEmail{
        width: 80VW;
        
    }

    .inputFormLogin{
        font-size: 18px;
        height: 30%;
        width: 80%;
    }

    .divPassword{
        width: 80VW;
        
    }

    .buttonForm{
        width: 40vw;
    }
    

}


@media (max-height: 769px) {
    .buttonFormb{
        height: 1.75rem;
        top:8.5rem;
        font-size: 16px;
    } 

    .inputFormLogin{
        font-size: 12px;
    }

    
}

@media (max-width: 705px) {
    .buttonFormb{
       height: 1rem;
       width: 1rem;
    } 

    .inputFormLogin{
        font-size: 12px;
    }

    
}



