.formMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Altura total da viewport */
  }
  
  form {
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE4FF;
    gap: 2rem;
    flex-grow: 1; /* Permite que o form ocupe o máximo possível */
  }
  


.divEmail{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    justify-content: center;
    background-color: #4B1DF2;
    border-radius: 2rem;
    box-shadow: 0 0 10px #000;
}

.divPassword{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    justify-content: center;
    background-color: #4B1DF2;
    border-radius: 2rem;
    gap: 1rem;
    position: relative;
    box-shadow: 0 0 10px #000;
}



input{
    height: 40%;
    width: 90%;
    border-radius: 10rem;
    border: none;
    font-size: 25px;
    text-align: center;
}

label{
    font-size: 30px;

}

button{
    border: none;
    z-index:1;
    font-size: 25px;
    width: 220px;
    height: 45px;
    background-color: #6249BF;
    color: #fff;
    border-radius: 10rem;
    position: absolute; /* Posicionamento absoluto */
    top: 10rem; /* Ajuste para mover o botão acima da div */
}


@media (max-width: 1200px) {
    
    .divEmail{
        width: 80VW;
        
    }

    input{
        font-size: 18px;
        height: 30%;
        width: 80%;
    }

    .divPassword{
        width: 80VW;
        
    }

    button{
        width: 40vw;
    }
    

}


