.pageContainerStore{
display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da viewport */
}

.pageMainStore{
flex-grow: 1; /* Faz o conteúdo principal expandir */
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
}