.itensBlue{
    background-color:#4B1DF2 ;
    width: 80vw;
    height: 68vh;
    border-radius: .75rem;
    box-shadow: 0px 4px 4px #00000067;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}