.divPrincipalRegister {
    height: 100vh;
    width: 100vw;
    background-color: #DDE4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização da setinha */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 9vh;
}

.mainFormRegister{
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 2rem;
}

/* estilização da div que contem os inputs e labels */

.formRegister {
    width: 90vw;
    height: 70vh;
    background-color: #4B1DF2;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 30px;
    text-align: left;
    gap: 2rem;
    box-shadow: 0 0 10px #000;
}

.imgGoTask {
    width: 190px;
}

/* Estilização de todos os inputs */
.inputRegister {
    height: 7%;
    width: 90%;
    border-radius: 2rem;
    border: none;
}


/* Estilização do button */
.buttonRegister {
    border-radius: 2rem;
    border: none;
    height: 3rem;
    width: 40vw;
    background-color: #6249BF;
    font-size: 25px;
    color: #fff;
}

/* A partir daqui são feitas a estilização para deixar responsiva para todos os dispositios. */

@media (max-height: 850px) {
    .formRegister {
        height: 75vh;
    }

    .inputRegister {
        height: 40px; 
    }

    .imgGoTask {
        width: 0px;
        margin: 2rem;
    }

    .buttonRegister {
        height: 40px; 
        width: 50vw; 
    }
}

@media (max-width: 600px) {
    .buttonRegister {
        
        bottom: 5rem;
        height: 3rem;
        width: 11rem; 
    }
}
