.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Garante que o contêiner ocupe toda a altura da viewport */
    overflow: hidden;
}

.pageMain {
    flex-grow: 1;
    /* Faz o conteúdo principal expandir */
    display: flex;
    flex-direction: column;
    /* Alinha o conteúdo verticalmente */
    justify-content: center;
    align-items: center;
    background-color: #DDE4FF;
    width: 100%;
    gap: 1rem;
    /* Garante que o pageMain ocupe toda a largura disponível */
}

.arrowMain1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130%;
    height: 9vh;
}

/* Div roxa que contém todos os elementos da tela, tirando os botões de adicionar e cancelar */
.divPurpleInfo {
    background: linear-gradient(to bottom, #593ACA, #411EBE);
    color: #fff;
    width: 92%;
    max-width: 500px;
    height: 50%;
    /* Mantendo a altura de 70% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 3rem;
    gap: 1rem;
}

/* Div branca que vai aparecer o nome da task que foi selecionada */
.nameTask {
    background-color: #fff;
    color: #000;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

/* Div branca com os pontos das tasks */
.pointsTask {
    background-color: #fff;
    color: #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

/* Div contendo as divs "divTresinline". Criei ela apenas para dar um distanciamento das divTresInline */
.divSemanas{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 200px;
    
}

/* Div feita para colocar os dias da semana do lao */
.divTresInline{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 200px;

    
}

.divDays{
    background-color: #fff;
    color: #000;
    width: 28%;
    height: 60%;
    border-radius: 1rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 0px #00000047
}   

/* Div contendo os dois buttons */
.divButtons{
    max-width: 400px;
    
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Estilização dos dois button ao mesmo tempo */
.divButtons button{
    width: 50%;
    border-radius:1rem;
    border: none;
    height: 50px;
}

.purpleButton{
    background-color: #6249BF;
    color:#fff ;
    font-size: 20px;
}

/* Estilização do button (to com preguiça de tirar o button da className, mas o correto é não ter div) */
.redButton{
    background-color: #ED2727;
    color:#fff ;
    font-size: 20px;
    

}
