/* Estilização do footer */
.divFooterMain {
    width: 100vw;
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
  }
  
  /* Estilizando os ícones no footer */
  .divFooterMain {
    font-size: 5vh;
    color: #fff;
  }

  .activeIcon {
    color: #74797E;
  }
  
  .inactiveIcon {
    color: #735BF2;
  }
  
  