
/* Estilização que contem a div "formForgotPassword" e colocando um background-color no fundo  */
.mainForgotPassword{
    background-color: #DDE4FF;
    height: 77vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


/* Estilização da seta */
.arrowMain2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 9vh;
    background-color: #DDE4FF;
}


/* Estilizaçao da div que compoe o h2, p e o input dentro dele */
.formForgotPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    font-size: 20px;
    color: #fff;
    background-color: #4B1DF2;
    border-radius: 2rem;
}

/* Estilização do input */
.formForgotPassword input {
    border: none;
    height: 10%;
    width: 80%;
    border-radius: 10rem;
    text-align: center;
    font-size: 16px;
}

/* Estilização da div que contem o button */
.divButtonForgot{
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    
}

/* Estilização do próprio button */

.buttonForgotPassword{
    border: none;
    border-radius: 10rem;
    background-color: #8465F4;
    color: #fff;
    width: 40%;
    height: 100%;
    font-size: 30px;

}

