.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Garante que o contêiner ocupe toda a altura da viewport */
}

.pageMain {
    flex-grow: 1;
    /* Faz o conteúdo principal expandir */
    display: flex;
    flex-direction: column;
    /* Alinha o conteúdo verticalmente */
    background-color: #DDE4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.arrowMain1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 6vh;
    background-color: #DDE4FF;
  }

/* Estilização das div que tem dentro dela  os inputs e labels */
.divEditChildren {
    width: 90%;
    max-width: 700px;
    background: linear-gradient(to bottom, #3c18bc, #7061a7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    color: #fff;
    font-size: 25px;
    border-radius: 2rem;
}

/* Estilização da div que contém os inputs e label, que é filo da "divEditChildren" */
.divInfoChildren {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.divInfoChildren input {
    width: 80%;
    height: 40%;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;

}
/* Estilização da div azul que dentro dela tem cada div com as tasks atribuidas */
.divEditTasks {
    background: linear-gradient(to bottom, #3c18bc, #7061a7);
    width: 70%;
    max-width: 500px;
    height: 27vh; 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    font-size: 30px;
    overflow-y: auto; /* Adiciona rolagem vertical */
    padding: 2rem; /* Adiciona espaçamento interno */
    scrollbar-width: none;
    gap: 1rem;
}

.divPurpleWhite {
    background-color: #7061a7;
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Estilização da div branca que entro dela contem cada task */
.divInfoTask {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1.50rem;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    border-radius: 1rem;
    color: #000;
}

/* Estilizaçao da div que contém o button "Alterar" e o icon de edit */
.divIcon{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .divIcon span{
    float: left;
    right: .50rem;
    bottom: 0rem;
    background-color:#ffffff ;
    width: 60px;
    height:40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: .50rem;
    color: #7061a7;
    border: solid 4px #816ad4;
  }
