.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da viewport */
    overflow-y: auto;
}

.pageMain {
    flex-grow: 1; /* Faz o conteúdo principal expandir */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #DDE4FF;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.divTasksDad {
    width: 90vw;
    height: 78vh;
    display: flex;
    justify-content: flex-start; /* Cresce o conteúdo de cima para baixo */
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto; 
    scrollbar-width: none;
    margin-top: 3rem;
}

.divInfoTask {
    width: 80vw;
    min-height: 11vh;/* Altura mínima para o conteúdo */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    border: solid 6px #512DD4;
    border-left:10px solid #512DD4;
    border-right: 10px solid #512DD4;
    box-shadow: 0 5px 0px #0000003d;
    margin-bottom: 1rem;
}

.divButtonTasks button{
    border: none;
    border: solid 2px #4B1DF2;
    width: 20%;
    border-radius: 1rem;
    
}




.divButtonTasks{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


