.pageContainerCreateTask{
    display: flex;
      flex-direction: column;
      min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da viewport */
      overflow: hidden;
}
    
.pageMainCreateTask{
    flex-grow: 1; /* Faz o conteúdo principal expandir */
      display: flex;
      flex-direction: column; /* Alinha o conteúdo verticalmente */
      background-color: #DDE4FF;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.arrowMain1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130%;
    height: 9vh;
}

.formCreateTask{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}


.divCardCreateTask{
    background: linear-gradient(to bottom, #3c18bc, #5239ae);
    width: 90vw;
    height: 50vh;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.divInputsCreateTask{
    width: 100% ;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;    
    color: #fff;
}


.divInputsCreateTask input{
    border: none;
    width: 90%;
    border-radius: 3rem;
    height: 30%;
    text-align: center;
    font-size: 25px;
}

.divButtonCreateTask{
    width: 100vw;
    height: 10vh;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divButtonCreateTask button{
    border: none;
    width: 50%;
    height: 50%;
    background-color: #6249BF;
    border-radius: 10rem;
    color: #fff;
    font-size: 25px;
}