
/* Div contendo todo conteudo, no caso contendo o cointeudo da div itensBlue e a div com os button */
.divMainItensStore{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* Estilização da parte azul contendo os points */
.itensBlue{
    background-color:#4B1DF2 ;
    width: 80vw;
    height: 60vh;
    border-radius: .75rem;
    box-shadow: 0px 4px 4px #00000067;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    overflow-y: auto;
    
}

.divButtonPoints{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.divButtonPoints button{
    width:4rem;
    height: 3rem;
    border: none;
    background-color: #fff;
    border-radius: 1rem;
}


/* Estilização para o modal ficar no centro e o fundo ficar mais escuro */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  /* Estilizaçao da parte roxa */
  .modalContent {
    background-color: #593ACA;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
  }


  
  .closeButton {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
  }
  
  .closeButton:hover {
    background-color: #472e9e;
  }

  /* Estilizaçao da div que contém o button "Alterar" e o icon de edit */
  .divIcon{
    display: flex;
    justify-content: center;
    
   
    width: 100%;
    position: relative;
    
  }

  .divIcon span{
    float: left;
    position: absolute;
    right: .50rem;
    bottom: 0rem;
    background-color:#ffffff ;
    width: 60px;
    height:40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: .50rem;
  }


  
/* Estilização para o modal ficar no centro e o fundo ficar mais escuro */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  /* Estilizaçao da parte roxa */
  .modalContent {
    background-color: #593ACA;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    
  }
  /* Estilização das divs Roxas, que contem o icon de profile e o nome*/
  .divPurpleModal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: .50rem;
    width: 100%;
    height: 80px;
    background-color: #8465F4;
    margin-top: 2rem;
    
  }

  /* Estilização do icon de profile */
  .profileIcon {
    background-color: black; 
    border-radius: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20%;    
    height: 60px;
    color: white;
  }

  /* Estilização da parte branca que contém o nome da criança e o icon de imprimir*/
  .divChildrenModal{
    width: 75%;
    height: 90%;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
  }
  
  .closeButton {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    
    
    width: 100px;
    border: 4px solid #000;
    font-weight: 900;
    font-size: 15px;
    
  }
  
  .closeButton:hover {
    background-color: #472e9e;
  }

  /* Estilizaçao da div que contém o button "Alterar" e o icon de edit */
  .divIcon{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    
  }

  .divIcon span{
    float: left;
    position: absolute;
    right: .50rem;
    bottom: 0rem;
    background-color:#ffffff ;
    width: 60px;
    height:40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: .50rem;
    border: solid 4px #816ad4;
  }






